$days: mon, tue, wed, thu, fri, sat, sun;

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  gap: 1px;
  background: #ccc;

  &__day {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #000;
    font-size: 30px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    user-select: none;
    position: relative;

    &:hover {
      background-color: #ffbecb;
      transform: translateY(-5px);
      cursor: pointer;
    }

    &::before {
      position: absolute;
      content: '';
      font-family: Arial, sans-serif;
      font-size: 30px;
    }
  }

  @for $i from 1 through 31 {
    &__day:nth-child(#{$i})::before {
      content: '#{$i}';
    }
  }

  @each $day in $days {
    $index: list.index($days, $day) - 1;
    &--start-day-#{$day} &__day:first-child {
      margin-left: calc(100px * #{$index});
    }
  }

  &--month-length-28 &__day:nth-child(n + 29),
  &--month-length-29 &__day:nth-child(n + 30),
  &--month-length-30 &__day:nth-child(n + 31) {
    display: none;
  }
}
